#taskListContainer {
  width: 100%;
  height: 100%;
  padding: 2vw;
  display: inline;
}

#taskListContainer span {
  font-size: 1.4vw;
}

.taskListHeader {
  width: 100%;
  height: 34vw;
  padding-right: 2vw;
  border-top: 1px solid grey;
  border-radius: 0vw;
  overflow: auto;
}

.taskListHeader button {
  width: 30%;
  font-size: 13px;
}

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}