.outerBox_toolBar {
  padding: 0.5vw;
  border: 1px solid grey;
  margin-bottom: 1vw;
}

.tool-bar-element {
  height: 10%;
  margin: 0.5vw;
}

#categoriesContent{
  border-radius: 0vw;
  padding: 1vw;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}

.noMargin{
  margin:0;
}

#addTaskContainer button{
  background-color: #353839;
}

#addTaskContainer button:hover{
  background-color: rgb(196, 83, 63);
}