@import './base.css';

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 1vw;
  width: 100vw;
  height: 45vw;
  font-weight: normal;
  /* border:1px solid black; */
  color: white;
}

a,
.green {
  text-decoration: none;
  color: black;
  transition: 0.4s;
  padding: 3px;
  background-color: #bd7f4c;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
    border-radius: 1vw;
    border: none;
    color: white;
  }
}

/* @media (min-width: 1024px) {
   #app {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 2rem;
  } 
} 
*/

body {
  display: flex;
  place-items: center;
  background-color: #111111;
}

div {
  border-radius: 1vw;
}

button {
  background-color: #04aa6d;
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition: background-color 0.4s;
  cursor: pointer;
  width: 100%;
  border-radius: 1vw;
}

button:hover {
  cursor: pointer;
  background-color: tomato;
  opacity: 1;
  border: none;
  color: white;
}

li {
  list-style-type: none;
  display: inline;
}

input[type='text'] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type='checkbox'] {
  width: 2vw;
  height: 2vw;
  accent-color: red;
}

input[type='checkbox']:hover {
  cursor: pointer;
  accent-color: red;
}

.remove {
  background-color: #f44336;
  transition: background-color 0.4s;
}

.remove:hover {
  background-color: red;
}

.displayFlex {
  display: flex;
  place-content: center;
  place-items: center;
}
